.header {
  width: 1280px;
  height: 300px;
}
body {
  background: lightgray;
}
.fullwrap {
  background: white;
  width: 1280px;
  height: 2150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.center {
  text-align: center;
}
.content{
  font-family: Tahoma;
  font-size: 15pt;
}
.text1{
padding-left: 100px;
}
.bold {
font-weight: bold;
}
.i1{
 margin-left: 100px;
 float: left;
}
.i2 {
  margin-left: 50px;
}
.mark {
  width: 520px;
  margin-left: 100px;
}
.mark2 {
  width: 520px;
  margin-left: 205px;
}
button{
  text-decoration: none;
  background-color: #cf5b4e;
  border: none;
  border-radius: 12px 12px 12px 12px;
  font-weight: bold;
  font-size: 15pt;
  color: white;
}
.button1{
  margin-left: 100px;
  width: 510px;
  height: 50px;
}
.button2 {
  width: 510px;
  height: 50px;
  margin-left: 50px;
}
.i3 {
  margin-left: 100px;
}
.i4 {
  margin-left: 50px;
}
.i5 {
  margin-left: 50px;
}
.mark{
  position: absolute;
  display: block;
  width: 510px;
}
.mark2{
  position: absolute;
  display: block;
  margin-left: 660px;
  width: 510px;
}
.mark3 {
position: relative;
display: inline-block;
left: 100px;
width: 300px;
}
.mark4 {
position: relative;
display: inline-block;
left: 170px;
width: 330px;
}
.mark5 {
position: relative;
display: inline-block;
left: 212px;
width: 310px;
}
.button3, .button4, .button5{
  height: 50px;
  width: 320px;
}
.button3 {
  margin-left: 100px;
}
.button4, .button5 {
  margin-left: 50px;
}
.button0 {
  width: 780px;
  height: 50px;
  margin-left:250px;
}
.italic{
  font-style: italic;
}
.white {
  text-decoration: none;
  color: white;
}
.footer {
text-align: center;
color: white;
}
.a1{
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
