.header {
  width: 1280px;
  height: 300px;
}
body {
  background: lightgray;
}
.fullwrap {
  background: white;
  width: 1280px;
  height: 2025px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.center {
  text-align: center;
}
.content{
  font-family: Tahoma;
  font-size: 15pt;
}
.text1{
padding-left: 100px;
}
.i1{
 margin-left: 100px;
 float: left;
}
.i2 {
  margin-right: 50px;
  position: relative;
  float: right;
}
.i4{
  margin-left: 60px;
}
.i5{
  margin-right: 100px;
}
.mark {
  width: 320px;
  margin-left: 100px;
  top: 20px;
}
.mark2 {
  width: 520px;
    left: -50px;
    top: 20px;
}
.mark3{
  width: 310px;
}
.mark4{
  width: 320px;
  margin-left: 480px;
}
button{
  text-decoration: none;
  background-color: #cf5b4e;
  border: none;
  border-radius: 12px 12px 12px 12px;
  font-weight: bold;
  font-size: 15pt;
  color: white;
}
.button1{
  margin-left: 100px;
  width: 510px;
  height: 50px;
  margin-top: 20px;
}
.button2 {
  width: 510px;
  height: 50px;
  margin-left: 60px;
  margin-top: 20px;
}
.button3, .button4, .button5{
  width: 320px;
  height: 50px;
}
.mark{
  position: relative;
  display: block;
  width: 510px;
}
.mark2{
  position: relative;
  width: 510px;
  margin-left: 720px;

}
.button0 {
  width: 780px;
  height: 50px;
  margin-left:250px;
  top: 50px;
}
.offer1{
  float: left;
}
.offer2{
  margin-right: 50px;
}
.offer3{
  margin-left: 100px;
  float: left;
}
.offer4 {
float: both;

}
.offer5{
  float:right;
  margin-top: -570px;
}
.mark5{
  width: 320px;
}
.button4{
  margin-left: 60px;
}
.button5{
  margin-top: -20px;
}
.f0 {
  margin-left: 100px;
}
.italic{
  font-style: italic;
}
.white {
  text-decoration: none;
  color: white;
}
.footer {
  text-align: center;
}
.a1{
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
